.header {
    margin: 0;
    // background-color: red;
    display: flex;
    height: 50px;
    .arrow-left {
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        // background-color: blue;
    }
    .alamat {
        p {
            font-size: 10px;
            margin: 0;
        }
        .nama-tempat {
            display: flex;
            font-size: 25px;
            .arrow-down {
                margin: 10px;
                width: 25px;
                height: 25px;
                color: red;
                // background-color: blue;
            }
        }
    }
}